
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a>Proyectos</a>
            </li>
            <li class="active">
                <strong>Proceso competitivo</strong>
            </li>
        </ol>

    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">

    <div ng-show="visibilidadOn">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="row">
                            <div class="col-lg-9">
                                <h2>Gestión de Proceso Competitivo</h2>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <input type="text" placeholder="Buscador" class="input-sm form-control" ng-model="filtro"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Proyecto</th>
                                    <th>Detalle producto o servicio </th>
                                    <th>Fecha inic serv.</th>
                                    <th style="text-align:center">Tiempo de proceso</th>
                                    <th>Fecha inic proc.</th>
                                    <th>Tiempo de ejecución</th>
                                    <th class="text-center">Detalle</th>
                                    <th style="text-align:center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeX" data-ng-repeat="Proceso in filteredProcesos track by $index">
                                    <td>{{Proceso.PROYECTO}}</td>
                                    <td>{{Proceso.DETALLE_PS}}</td>
                                    <td>{{Proceso.FECHA_INICO}}</td>
                                    <td style="text-align:center">{{Proceso.TIEMPO_PROCESO}}</td>
                                    <td>{{Proceso.FECHA_INIC_SERVICE}}</td>
                                    <td style="text-align:center">{{Proceso.TIEMPO_EJECUCION}} días</td>
                                    <td>
                                        <span>
                                            <span ng-show='Proceso.ESTADO_PROC == "C"'>
                                                <a href="#/DetalleCompetitivo" title="Ver detalle" ng-click="detalle()"><i class="fa fa-eye" style="font-size:20px;color:#1A7BB9;"></i></a>
                                            </span>
                                            <span ng-show='Proceso.ESTADO_PROC == "L"'>
                                                <a href="#/DetalleCompetitivo" title="Ver detalle" ng-click="detallecontratado()"><i class="fa fa-eye" style="font-size:20px;color:#1A7BB9;"></i></a>
                                            </span>
                                            <span ng-show='Proceso.ESTADO_PROC == "A"'></span>
                                        </span>
                                    </td>
                                    <td style="width:100px;text-align:center">
                                        <span>
                                            <span ng-show='Proceso.ESTADO_PROC == "A"'></span>
                                            <span ng-show='Proceso.ESTADO_PROC == "L"'>
                                                <a href="javasrcritp:;" title="Editar Proceso Competitivo" ng-click="Editar()"><i class="fa fa-edit" style="font-size:20px;color:#1A7BB9;"></i></a>
                                                <a href="javasrcritp:;" title="ver archivos adjuntos" ng-click="getArchivo(Proceso.ID_COMPETITIVO)"><i class="fa fa-file-text-o" style="font-size:20px;color:#1A7BB9;margin-left:1px"></i></a>
                                                <a href="javasrcritp:;" title="Anular Proceso Competitivo" ng-click="remove(Proceso.ID_COMPETITIVO)"><i class="fa fa-trash" style="font-size:20px;color:#ED5565;margin-left:2px"></i></a>
                                            </span>
                                            <span ng-show='Proceso.ESTADO_PROC == "C"'>
                                                <a href="javasrcritp:;" title="Editar Proceso Competitivo" ng-click="Editar()"><i class="fa fa-edit" style="font-size:20px;color:#1A7BB9;"></i></a>
                                                <a href="javasrcritp:;" title="ver archivos adjuntos" ng-click="getArchivo(Proceso.ID_COMPETITIVO)"><i class="fa fa-file-text-o" style="font-size:20px;color:#1A7BB9;margin-left:1px"></i></a>
                                                <a href="javasrcritp:;" title="Agregar nuevo aspirante" ng-click="LoadAspirantes()"><i class="fa fa-user-plus" style="font-size:20px;color:#1A7BB9;margin-left:1px"></i></a>
                                                <a href="javasrcritp:;" title="Anular Proceso Competitivo" ng-click="remove(Proceso.ID_COMPETITIVO)"><i class="fa fa-trash" style="font-size:20px;color:#ED5565;margin-left:2px"></i></a>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <div style="text-align:center">
                            <div data-pagination="" data-num-pages="numPagesPC()"
                                 data-current-page="currentPagePC" data-max-size="maxSize"
                                 data-boundary-links="true"></div>
                        </div> 

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="visibilidadOff">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h2>Gestion Proceso Competitivo</h2>
                        <div class="hr-line-dashed"></div>

                    </div>

                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="DatoBasic#tab-1"> Datos Basicos</a></li>
                            <li class=""><a data-toggle="tab" href="DatoBasic#tab-2">Documentos</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="form-group col-lg-6">
                                        <label>Seleccione un proyecto</label>
                                        <input type="text" placeholder="Proyecto" class="form-control" ng-click="LoadModal()" ng-model="Proyec.PROYECTO" title="Hacer clic para cargar la lista de proyectos">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label>Categoría</label>
                                        <select class="form-control" ng-model="Proceso.CATEGORIA">
                                            <option></option>
                                            <option ng-repeat="Confi in ConfiCate">{{Confi.NOMBRE_CONFIG}}</option>
                                        </select>

                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label>Tipo</label>
                                        <select class="form-control" ng-model="Proceso.TIPO">
                                            <option></option>
                                            <option>Servicio</option>
                                            <option>Producto</option>
                                            <option>Producto & Servicio.</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label>Origen</label>
                                        <select class="form-control" ng-model="Proceso.ORIGEN">
                                            <option></option>
                                            <option>Nacional</option>
                                            <option>Importado</option>
                                            <option>Nacional o Importado</option>
                                            <option>Nacional e Importado</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label>Familia</label>
                                        <select class="form-control" ng-model="Proceso.FAMILIA">
                                            <option></option>
                                            <option ng-repeat="Confi in ConfiFml">{{Confi.NOMBRE_CONFIG}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-6">
                                        <label>Descripción general</label>
                                        <input type="text" placeholder="Descripción General" class="form-control" ng-model="Proceso.DESC_GENERAL">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label>Complejidad adquisición</label>
                                        <select class="form-control" ng-model="Proceso.COMP_ADQUISICION " ng-change="TimeProces()">
                                            <option></option>
                                            <option>A</option>
                                            <option>B</option>
                                            <option>C</option>
                                            <option>D</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>Proceso</label>
                                        <select class="form-control" ng-model="Proceso.PROCESO">
                                            <option></option>
                                            <option>Compras</option>
                                            <option>Contrato</option>
                                            <option>PO con T&C</option>
                                            <option>Reparaciones</option>
                                            <option>Items en consignación</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>Proceso de inicio</label>
                                        <select class="form-control" ng-model="Proceso.PROCESO_INICIO ">
                                            <option></option>
                                            <option>RQ</option>
                                            <option>SOW</option>
                                            <option>SOLPED</option>
                                            <option>RPS</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>Fecha de inicio del proceso</label>
                                        <input class="form-control" type="text" ng-model="Proceso.FECHA_INIC_SERVICE" disabled="">
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>Tiempo del proceso</label>
                                        <input class="form-control" type="text" ng-model="Proceso.TIEMPO_PROCESO" disabled="">
                                    </div>

                                    <div class="form-group col-lg-3" id="data_1">
                                        <label class="font-noraml">Fecha de inicio del servicio</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span><input type="text" class="form-control" value="{{CurrentDate | date:'MM/dd/yyyy'}}">
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>Tiempo de ejecución</label>
                                        <input class="form-control" type="number" ng-model="Proceso.TIEMPO_EJECUCION">
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>Cantidad</label>
                                        <input class="form-control" type="number" ng-model="Proceso.CANTIDAD">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Detalle producto o servicio</label>
                                        <input class="form-control" type="text" ng-model="Proceso.DETALLE_PS">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label>Unidad</label>
                                        <select class="form-control" ng-model="Proceso.UNIDAD">
                                            <option></option>
                                            <option value="Lts">Lts</option>
                                            <option value="Bb">Bb</option>
                                            <option value="Gls">Gls</option>
                                            <option value="Box">Box</option>
                                            <option value="Bkt">Bkt</option>
                                            <option value="CUM">CUM</option>
                                            <option value="G">G</option>
                                            <option value="HR">HR</option>
                                            <option value="IN">IN</option>
                                            <option value="Kg">Kg</option>
                                            <option value="KM">KM</option>
                                            <option value="Lb">Lb</option>
                                            <option value="M">M</option>
                                            <option value="Mil">Mil</option>
                                            <option value="MT">MT</option>
                                            <option value="Mth">Mth</option>
                                            <option value="TON">TON</option>
                                            <option value="EA">EA</option>
                                            <option value="SET">SET</option>
                                            <option value="WELL">WELL</option>
                                            <option value="Ft">Ft</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>Tipo de modena</label>
                                        <select class="form-control" ng-model="Proceso.TIPO_MONEDA">
                                            <option></option>
                                            <option>USD</option>
                                            <option>COP</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>Presupuesto objetivo</label>
                                        <input type="text" placeholder="" class="form-control" ng-model="Proceso.PRESUPUESTO">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label>Jurisdicción</label>
                                        <input class="form-control" type="text" ng-model="Proceso.LUGAR_EJECUCION">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label>Valor Real</label>
                                        <input class="form-control" type="text" ng-model="Proceso.VALOR_TOTAL">
                                    </div>



                                </div>

                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="col-lg-12">
                                        <section id="envio">
                                            <form id="myForm">
                                                <input type="file" id="files" name="files[]" onchange="angular.element(this).scope().visualizar()" multiple="multiple">
                                            </form>
                                        </section>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="col-lg-12">
                                        <div id="lista"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="background-color:white">
                            <center><button type="button" class="btn btn-primary" ng-click="Add()">Registrar</button></center>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal inmodal" id="modalAspirantes" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Listado de Vendors</h4>
            </div>
            <div class="modal-body">

                <div>
                    <ul class="nav metismenu" id="side-menu" data-ng-repeat="Aspirante in filteredAspirantes track by $index" ng-click="CargarAsp()">
                        <li>
                            <a><i class="fa fa-user"></i> <span class="nav-label">{{Aspirante.NOM_RAZONSOCIAL}}</span></a>
                        </li>
                    </ul>
                </div>
                <div style="text-align:center">
                    <div data-pagination="" data-num-pages="numPagesA()"
                         data-current-page="currentPageA" data-max-size="maxSize"
                         data-boundary-links="true"></div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="submit" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modalproyectos" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Listado de Proyectos</h4>
            </div>
            <div class="modal-body">
                <div>
                    <ul class="nav metismenu" id="side-menu" data-ng-repeat="Proyec in filteredProyes track by $index" ng-click="Cargar()">
                        <li>
                            <a><i class="fa fa-folder"></i> <span class="nav-label">{{Proyec.PROYECTO}}</span></a>
                        </li>
                    </ul>
                </div>
                <div style="text-align:center">
                    <div data-pagination="" data-num-pages="numPagesP()"
                         data-current-page="currentPageP" data-max-size="maxSize"
                         data-boundary-links="true"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modalRutas" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Listado de Adjuntos</h4>
            </div>
            <div class="modal-body">
                <div id="rutas"></div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="contenedorb" style="height: 80px">
    <button class="botonF1" ng-click="Mostrar()" ng-show="visibilidadOn">
        <i class="fa fa-plus" style="font-size:36px;"></i>
    </button>
    <button class="botonF1" ng-click="Ocultar()" ng-show="visibilidadOff">
        <i class="fa fa-mail-reply " style="font-size:36px;"></i>
    </button>
</div>


<script>
    $(document).ready(function () {
        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
        document.getElementById("body").className = "md-skin fixed-sidebar fixed-nav pace-done mini-navbar";
    });

</script>