.contenedorb {
    width: 90px;
    height: 240px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.botonF1 {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #7cb342;
    right: 0;
    bottom: 0;
    position: fixed;
    margin-right: 16px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: .1s;
}

.botonF1:active {
    transform: scale(1.1);
}

.pagination {
    height: 40px;
    margin: 20px 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.pagination ul > li {
    display: inline;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #f5f5f5;
}

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999999;
    cursor: default;
}

.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

